annotated-types==0.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
configomatic==0.2.0
idna==3.7
pydantic==2.7.2
pydantic_core==2.18.3
PyYAML==6.0.1
requests==2.32.2
typing_extensions==4.11.0
urllib3==2.2.1
