certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
configomatic @ git+https://github.com/stackhpc/configomatic.git@8b81e8f216762b2e1664f60681c4a8e618ab151d
idna==3.4
pydantic==1.10.5
PyYAML==6.0
requests==2.28.2
typing-extensions==4.5.0
urllib3==1.26.14
