#####
## SSHD config for the Zenith server
##
## It is designed to shut out SSH access for all users except the zenith user
## and restrict the zenith user to a particular sandbox
#####

# Use a different port to the standard SSH
Port 2222

# Use a subdirectory of /var/run for the pidfile
# We will mount a writable directory there
PidFile /var/run/sshd/sshd.pid

# Also use hostkeys in /var/run/sshd
HostKey /var/run/sshd/ssh_host_dsa_key
HostKey /var/run/sshd/ssh_host_rsa_key
HostKey /var/run/sshd/ssh_host_ecdsa_key
HostKey /var/run/sshd/ssh_host_ed25519_key

# Allow the zenith user only
AllowUsers zenith

# The zenith user can authenticate with any public key
PubkeyAuthentication yes
AuthorizedKeysCommand /usr/local/bin/zenith-sshd authorized-keys "%t" "%k"
AuthorizedKeysCommandUser zenith

# Allow the user to create reverse SSH tunnels only
AllowTcpForwarding remote

# Force reverse tunnels to bind to the wildcard address so they can be accessed
# from outside the container
GatewayPorts yes

# We want to detect and detach dead clients quickly
# This will ensure dead clients are detached within 30s
ClientAliveCountMax 3
ClientAliveInterval 10

# All other authentication methods are disabled
ChallengeResponseAuthentication no
GSSAPIAuthentication no
HostbasedAuthentication no
KbdInteractiveAuthentication no
KerberosAuthentication no
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
UsePAM no

# Restrict the available features to only those that are required for tunnels
AllowAgentForwarding no
AllowStreamLocalForwarding no
PermitTunnel no
PermitUserEnvironment no
X11Forwarding no
