anyio==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
configomatic @ git+https://github.com/stackhpc/configomatic.git@3a7e88693e8f44530ac4f1f5ee3d64977cf3784d
easykube @ git+https://github.com/stackhpc/easykube.git@920ad7bcf690b31d12b43ff5a82aba0ebeb40269
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
pydantic==1.9.0
PyYAML==6.0
rfc3986==1.5.0
sniffio==1.2.0
typing_extensions==4.0.1
