---
apiVersion: v2
name: zenith-service
description: Helm chart for deploying components for a Zenith service.
type: application
# The version and appVersion are updated by the chart build script
version: 0.1.0
appVersion: main

dependencies:
  - alias: oidc
    repository: https://oauth2-proxy.github.io/manifests
    name: oauth2-proxy
    version: 10.1.1
    condition: oidc.enabled
