ruff~=0.15.11
coverage!=4.4,>=7.13.5 # Apache-2.0
python-subunit>=1.4.5 # Apache-2.0/BSD
stestr>=4.2.1 # Apache-2.0
testtools>=2.9.0 # MIT
codespell
autopep8
mypy
types-PyYAML
types-setuptools
black~=26.3.1